---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MusicDown bienvenido a la música">
    <div
        id="playlist-container"
        class="relative transition-all duration-1000 bg-green-600"
    >
    <!-- <PageHeader /> -->

      <div class="relative z-10 px6">
        <!-- <Greetings /> -->
         <h1 class="text-4xl">Buenos días</h1>
         <div>
            
         </div>
      </div>
    </div>
</Layout> 
    
<style></style>
