---
import Layout from '../../layouts/Layout.astro';

import PlayListItemCard from '../../components/PlayListItemCard.astro';
import { allPlaylists, songs } from '../../lib/data';

const { id } = Astro.params;

const playlist = allPlaylists.find(playlist => playlist.id === id)
const playListSongs = songs.filter(song => song.albumId === playlist?.albumId)
---

<Layout title="MusicDown bienvenido a la música">
    <div
        id="playlist-container"
        class="relative transition-all duration-1000 bg-green-600"
        transition:name=`playlist ${id} box`
    >
      <!-- <PageHeader /> -->
      <div class="relative z-10 px6 pt-10">
      
      </div>
      
    <div
        class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80" 
    >
    </div>
</Layout> 
    
<style></style>
